.creators {
	margin: 20px 0px 20px 0px;
	border: solid;
	border-color: orange;
	width: 500px;
	text-align: left;
	
	padding: 20px;
	
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.all {
	float: right;
}

.description {
	margin: 20px 500px 20px 0px;
	border: solid;
	border-color: orange;
	width: 500px;
	text-align: left;
	
	padding: 20px;
	
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.game {
	float: left;
	padding-right: 0px;
	padding-top: 10px;
}